Dana <dsniezko@gmail.com>
Daria Jung <djj2115cu@gmail.com>
Jonathan Dahan <jonathan@jedahan.com>
Marcus Malka <marcus.malka@sujuwa.fi> <marqsm@users.noreply.github.com>
Puneeth Chaganti <punchagan@muse-amuse.in>
Sean Garborg <sean.garborg@gmail.com>
Sophia Davis <scdgrapefruit@gmail.com>

# Generated using git shortlog -sne|cut -f 2|sort -u
